.container {
  background-color: rgb(250, 245, 239);
  border-radius: 5px;
}
button {
  font-size: 15px;
}
#loginButton {
  color: #095d48;
  border: none;
  cursor: pointer;

}

#registerButton {
  margin-right: 15px;
  padding: 15px;
  border: none;
  border-radius: 50px;
  background-color: #095d48;
  color: aliceblue;
  transition: 300ms all;
}
#registerButton:hover {
  background-color: rgba(11, 94, 72, 0.4);
  color: black;
}

a {
  font-size: 15px;
  color: #095d48;
}